# Generated packaging workspace.
dist/prism-staging/
.reference-season3/

# These are represented by generated mods/*.pw.toml files when matched on Modrinth.
mods/.connector/
mods/**/*.jar
mods/*.jar

# Local-only jars that cannot be resolved to Modrinth are added below by scripts/generate-modrinth-metafiles.ps1.
!mods/additional_lights-neoforge-1.21-2.1.10.jar
!mods/ae2ct-1.21.1-1.1.1.jar
!mods/ae2jeiintegration-1.2.1.jar
!mods/AE2NetworkAnalyzer-1.21-2.1.5-neoforge.jar
!mods/aeronauticscovers-1.21.1-NeoForge-1.0.1.jar
!mods/aether-1.21.1-1.5.10-neoforge.jar
!mods/allthearcanistgear-1.21.1-21.3.2.jar
!mods/allthecompressed-1.21.1-4.4.0.jar
!mods/alltheleaks-1.1.8+1.21.1-neoforge.jar
!mods/allthemodium-3.0.0_mc_1.21.1.jar
!mods/allthemons-0.1.4.jar
!mods/alltheores-3.2.0_neoforge_1.21.1.jar
!mods/allthetweaks-1.21.1-2.9.2.jar
!mods/Apotheosis-1.21.1-8.5.2.jar
!mods/ApothicAttributes-1.21.1-2.9.1.jar
!mods/ApothicEnchanting-1.21.1-1.5.2.jar
!mods/ApothicSpawners-1.21.1-1.3.4.jar
!mods/ars_elemancy-1.21.1-1.16.jar
!mods/ars_elemental-1.21.1-0.7.9_beta.jar
!mods/ars_technica-1.21.1-2.7.6.jar
!mods/balm-neoforge-1.21.1-21.0.56.jar
!mods/buildinggadgets2-1.3.9.jar
!mods/camol-1.21.1-0.3.0.jar
!mods/charginggadgets-1.14.1.jar
!mods/chromacarvings-1.21.1-0.2.0.jar
!mods/cleanswing-1.9.jar
!mods/CloudGlass-1.21.1-1.0.1.jar
!mods/cobblegengalore-1.21.1-0.2.8.jar
!mods/commoncapabilities-1.21.1-neoforge-2.11.4.jar
!mods/compactmachines-neoforge-7.0.81.jar
!mods/connectivity-1.21.1-7.6.jar
!mods/ConstructionSticks-1.21.1-1.3.0.jar
!mods/cookingforblockheads-neoforge-1.21.1-21.1.20.jar
!mods/cosmeticarmorreworked-1.21.1-v1-neoforge.jar
!mods/craftingtweaks-neoforge-1.21.1-21.1.7.jar
!mods/crashutilities-9.0.4.jar
!mods/create_ars_nouveau_compat-1.21.1-1.1.jar
!mods/CTM-1.21-1.2.1+3.jar
!mods/cupboard-1.21-3.5.jar
!mods/cyclopscore-1.21.1-neoforge-1.29.0-962.jar
!mods/deeperdarker-neoforge-1.21.1-1.3.5.jar
!mods/defaultoptions-neoforge-1.21.1-21.1.5.jar
!mods/dyenamics-1.21.1-3.4.2.jar
!mods/dyenamicsandfriends-1.21.1-2.2.2.jar
!mods/easy-villagers-neoforge-1.21.1-1.1.41.jar
!mods/epitaphs-2.0.0_neoforge_1.21.1.jar
!mods/everythingcopper-1.21.1-2.4.5.jar
!mods/ExtendedAE-1.21-2.2.31-neoforge.jar
!mods/ExtremeReactors2-1.21.1-2.4.28.jar
!mods/factory_blocks-neoforge-1.4.0+mc1.21.1.jar
!mods/farmingforblockheads-neoforge-1.21.1-21.1.12.jar
!mods/FastFurnace-1.21.1-9.0.1.jar
!mods/FastSuite-1.21.1-6.0.7.jar
!mods/FastWorkbench-1.21.1-9.1.3.jar
!mods/fireproofboats-1.21.1-1.0.4.jar
!mods/flickerfix-1.21.1-6.1.0.jar
!mods/FluxNetworks-1.21.1-8.0.0.jar
!mods/ftb-chunks-neoforge-2101.1.14.jar
!mods/ftb-essentials-neoforge-2101.1.9.jar
!mods/ftb-filter-system-neoforge-21.1.4.jar
!mods/ftb-jei-extras-21.1.7.jar
!mods/ftb-library-neoforge-2101.1.31.jar
!mods/ftbquestslangsplitter-1.0.5.jar
!mods/ftb-quests-neoforge-2101.1.24.jar
!mods/ftb-ranks-neoforge-2101.1.3.jar
!mods/ftb-teams-neoforge-2101.1.10.jar
!mods/ftb-ultimine-neoforge-2101.1.13.jar
!mods/ftb-xmod-compat-neoforge-21.1.8.jar
!mods/generatorgalore-1.21.1-1.6.3.jar
!mods/GravitationalModulatingAdditionalUnit-1.21.1-6.4.jar
!mods/hardenedarmadillos-1.21.1-0.2.0.jar
!mods/HostileNeuralNetworks-1.21.1-6.3.0.jar
!mods/incontrol-1.21-10.2.6.jar
!mods/integratedcrafting-1.21.1-neoforge-1.4.5-539.jar
!mods/integrateddynamics-1.21.1-neoforge-1.32.3.jar
!mods/integratedscripting-1.21.1-neoforge-1.0.21-339.jar
!mods/integratedterminals-1.21.1-neoforge-1.6.28.jar
!mods/integratedtunnels-1.21.1-neoforge-1.9.4-606.jar
!mods/invtweaks-1.21.1-1.3.2.jar
!mods/jearchaeology-1.21.1-1.2.0.jar
!mods/journeymap-neoforge-1.21.1-6.0.0-beta.63.jar
!mods/justdirethings-1.5.7.jar
!mods/JustEnoughMekanismMultiblocks-1.21.1-7.14.jar
!mods/JustEnoughProfessions-neoforge-1.21.1-4.0.4.jar
!mods/keybindbundles-1.4.0.jar
!mods/kotlinforforge-5.11.0-all.jar
!mods/kubejs-neoforge-2101.7.2-build.348.jar
!mods/kubejstweaks-1.0.6.jar
!mods/laserio-1.9.11.jar
!mods/mcjtylib-1.21-9.0.20.jar
!mods/Measurements-neoforge-1.21.1-3.0.3.jar
!mods/megacells-4.10.2.jar
!mods/mekanisticrouters-1.2.0.jar
!mods/memorysettings-1.21-5.9.jar
!mods/mininggadgets-1.18.6.jar
!mods/mob_grinding_utils-1.1.10+mc1.21.1.jar
!mods/ModularBees-1.21.1-2.11-neoforge.jar
!mods/moredragoneggs-5.0.jar
!mods/morered-1.21.1-6.0.0.3.jar
!mods/NeoAuth-1.21.1-1.0.1.jar
!mods/netherportalfix-neoforge-1.21.1-21.1.1.jar
!mods/not_enough_glyphs-1.21.1-4.2.9.jar
!mods/overlapless-1.21.1-1.2.0.jar
!mods/overloadedarmorbar-neoforge-1.21-2.jar
!mods/pipez-neoforge-1.21.1-1.2.19.jar
!mods/Placebo-1.21.1-9.9.1.jar
!mods/pocketstorage-1.2.5+1.21.1-b3.jar
!mods/polylib-2100.1.0-build.183-neoforge.jar
!mods/potionsmaster-21.1.113-1.0.1.jar
!mods/productivebees-1.21.1-13.13.3.jar
!mods/productivemetalworks-1.21.1-1.15.0.jar
!mods/productivetrees-1.21.1-0.8.1.jar
!mods/rangedpumps-1.3.0.jar
!mods/reap-neoforge-1.21.1-1.1.2.jar
!mods/reliquary-1.21.1-2.0.66.1363.jar
!mods/restrictions-1.21-7.0.3.jar
!mods/rftoolsbase-1.21-6.0.10.jar
!mods/rftoolsbuilder-1.21-7.0.4.jar
!mods/rftoolspower-1.21-7.0.5.jar
!mods/rftoolsstorage-1.21-6.0.4.jar
!mods/rftoolsutility-1.21-7.0.11.jar
!mods/rhino-2101.2.7-build.81.jar
!mods/RootsClassic-1.21.1-1.5.7.jar
!mods/sgearmetalworks-1.21.1-1.4.6.jar
!mods/shrink-2.0.1.47-neoforge.jar
!mods/simplylight-1.5.3+1.21.1-b4.jar
!mods/solcarrot-1.21.1-1.16.6.jar
!mods/sophisticatedbackpacks-1.21.1-3.25.41.1683.jar
!mods/sophisticatedbackpackscreateintegration-1.21.1-0.1.5.29.jar
!mods/sophisticatedcore-1.21.1-1.4.26.1720.jar
!mods/sophisticatedstorage-1.21.1-1.5.44.1680.jar
!mods/sophisticatedstoragecreateintegration-1.21.1-0.1.17.132.jar
!mods/sophisticatedstorageinmotion-1.21.1-0.10.27.208.jar
!mods/soulplied_energistics-1.0.2.jar
!mods/starbunclemania-1.21.1-1.5.6.jar
!mods/stevescarts-1.21-1.2.18-neoforge.jar
!mods/sussysniffers-1.21.1-0.1.3.jar
!mods/ToastControl-1.21.1-9.0.1.jar
!mods/torchmastercobblemoncompat-1.6-neoforge-1.0.0.jar
!mods/treetap-1.21.1-0.4.5.jar
!mods/trophymanager-1.21.1-2.4.3.jar
!mods/UndergroundVillages-neoforge-1.21.1-4.0.3.jar
!mods/utilitarian-1.21.1-0.19.1.jar
!mods/utilityvest-1.2.6.jar
!mods/valhelsia_core-neoforge-1.21.1-1.1.5.jar
!mods/waystones-neoforge-1.21.1-21.1.29.jar
!mods/WitherSkeletonTweaks-1.21.1-10.1.1.jar
!mods/xnet-1.21-7.0.6.jar
!mods/xtonesreworked-1.1.1-1.21.1.jar
!mods/ZeroCore2-1.21.1-2.4.21.jar